/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 jun. 2024, 21:08:33
    Author     : franc
*/

/* CSSClasses/Common.css */

/* Estilos comunes para la barra de navegación y footer */

.navbar-custom {
    background-color: rgba(0, 93, 164, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav .nav-link {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white !important; /* Color del texto en blanco */
}

/* Estilos para el dropdown-menu */
.dropdown-menu {
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: rgba(0, 93, 164, 0.8); /* Mismo color de fondo para el dropdown */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    padding: 0; /* Sin espaciado interno */
    box-shadow: none; /* Sin sombra */
    min-width: 200px; /* Ancho mínimo */
}

.dropdown-item {
    color: white; /* Color del texto en blanco para los elementos del dropdown */
    padding: 10px 20px; /* Espaciado interno */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.dropdown-item:hover {
    background-color: rgba(0, 93, 164, 0.6); /* Color de fondo ligeramente más claro al hacer hover */
}
.dropdown-menu h8 {
    font-size: 14px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 5px; /* Espacio inferior */
    padding-left: 20px; /* Espaciado a la izquierda */
    display: block; /* Mostrar como bloque */
}

/* Espaciado entre secciones */
.dropdown-menu h8 + .dropdown-item {
    margin-top: 5px; /* Espacio superior entre h8 y el primer item */
}

/* Estilos para el pie de página */
.footer {
    background-color: rgba(0, 93, 164, 0.8);
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.footer p {
    margin: 0;
    color: white;
}



