/* Estilos base para el cuerpo del documento */
html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
.navbar-custom {
    background-color: rgba(0, 93, 164, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-nav .nav-link {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white !important; /* Color del texto en blanco */
}


.dropdown-menu {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgba(0, 93, 164, 0.8); /* Mismo color de fondo para el dropdown */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    padding: 0; /* Sin espaciado interno */
    box-shadow: none; /* Sin sombra */
    min-width: 200px; /* Ancho mínimo */
}

.dropdown-item {
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}
.dropdown-divider {
    height: 1px; /* Altura de la línea */
    margin: 0; /* Sin margen */
    overflow: hidden; /* Oculta el desbordamiento */
    background-color: #e9ecef; /* Color de la línea */
}


.dropdown-item:hover {
    background-color: rgba(0, 93, 164, 0.6); /* Color de fondo ligeramente más claro al hacer hover */
}
.dropdown-menu h8 {
    font-size: 15px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 5px; /* Espacio inferior */
    padding-left: 20px; /* Espaciado a la izquierda */
    display: block; /* Mostrar como bloque */
}

/* Espaciado entre secciones */
.dropdown-menu h8 + .dropdown-item {
    margin-top: 5px; /* Espacio superior entre h8 y el primer item */
}

.fullscreen-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top;
}

.separator-bar {
    background-color: rgba(142,216,248, 0.7); /* Color café para el primer separador */
    height: 20px; /* Misma altura que el footer */
    width: 100%;
    margin-top: 0; /* Sin espacio superior */
    margin-bottom: 40px; /* Espacio inferior */
}

/* Estilos generales para los contenedores */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los eventos, utilizando flexbox para un diseño adaptable */
.event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.event-image {
    flex: 1; /* Ajusta la anchura y altura según necesites */
    margin-right: 20px;
    width: 150px; /* Controla el ancho de la imagen */
    height: 100px; /* Controla la altura de la imagen */
    overflow: hidden; /* Evita que la imagen desborde */
}

.event-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.event-content {
    flex: 3;
}

.event h2 {
    color: #007BFF;
}

.event p, .event a {
    margin: 5px 0;
}

.event a {
    color: #007BFF;
    text-decoration: none;
}

.footer, .footer * {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-sizing: border-box;
    color: #ffffff;  /* Asegúrate de que el texto sea visible */
}

.footer {
    width: 100%;
     background-color: rgba(0, 93, 164, 0.8);
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    clear: both;  /* Esto debería ayudar si hay floats interfiriendo */
}

.footer p {
    font-size: 16px;
}
