/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 jun. 2024, 23:17:36
    Author     : franc
*/


.navbar-custom {
    background-color: rgba(0, 93, 164, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav .nav-link {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white !important; /* Color del texto en blanco */
}

/* Estilos para el dropdown-menu */
.dropdown-menu {
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: rgba(0, 93, 164, 0.8);
    color: white;
    border: none;
    padding: 0;
    box-shadow: none;
    min-width: 200px;
}

.dropdown-item {
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: rgba(0, 93, 164, 0.6);
}
.dropdown-menu h8 {
    font-size: 14px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 5px; /* Espacio inferior */
    padding-left: 20px; /* Espaciado a la izquierda */
    display: block; /* Mostrar como bloque */
}

/* Espaciado entre secciones */
.dropdown-menu h8 + .dropdown-item {
    margin-top: 5px; /* Espacio superior entre h8 y el primer item */
}

/* Estilos para el pie de página */
.footer {
    background-color: rgba(0, 93, 164, 0.8);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 0; /* Posiciona el pie de página al fondo */
}

.footer p {
    margin: 0;
    color: white;
}

