/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 jun 2024, 20:51:41
    Author     : Marcelle F
*/
/* Estilos para la barra de navegación personalizada */
.navbar-custom {
    background-color: rgba(0, 93, 164, 0.8); /* Color original de la barra de navegación */
    color: white; /* Color del texto */
}

.dropdown-menu {
    background-color: rgba(0, 93, 164, 0.8); /* Fondo coincidente con la barra de navegación */
    border: none; /* Sin borde */
    padding: 0; /* Sin espaciado interno */
    box-shadow: none; /* Sin sombra */
    min-width: 200px; /* Ancho mínimo */
}

.dropdown-item {
    font-size: 14px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(0, 93, 164, 1); /* Fondo más oscuro en hover */
    color: white; /* Texto blanco en hover */
    outline: none; /* Sin borde de enfoque */
}

.dropdown-divider {
    height: 1px; /* Altura de la línea */
    margin: 0; /* Sin margen */
    overflow: hidden; /* Oculta el desbordamiento */
    background-color: #e9ecef; /* Color de la línea */
}

.dropdown-menu h8 {
    font-size: 14px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 5px; /* Espacio inferior */
    padding-left: 20px; /* Espaciado a la izquierda */
    display: block; /* Mostrar como bloque */
}

/* Espaciado entre secciones */
.dropdown-menu h8 + .dropdown-item {
    margin-top: 5px; /* Espacio superior entre h8 y el primer item */
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Estilos para la sección de historia */
/* Estilos para la sección de historia */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alineación vertical al principio */
    padding: 20px;
}

.left-column,
.right-column {
    flex: 1;
    max-width: 45%; /* Máximo ancho para cada columna */
    position: relative;
    overflow: hidden;
}

.left-column img,
.right-column img {
    width: 100%; /* Ancho del 100% del contenedor */
    height: auto;
    transition: transform 0.3s ease; /* Transición suave */
}

.left-column img {
    position: absolute;
    left: -30%; /* Ajuste para mover la imagen hacia la izquierda */
    top: 0; /* Asegura que la imagen esté alineada en la parte superior */
}

.right-column img {
    position: absolute;
    right: -10%; /* Ajuste para mover la imagen hacia la derecha */
    top: 0; /* Asegura que la imagen esté alineada en la parte superior */
}

.container:hover .left-column img {
    transform: translateX(-5%);
}

.container:hover .right-column img {
    transform: translateX(5%);
}

.left-column p,
.right-column p {
    font-size: 16px;
    line-height: 1.6;
}
