/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 jun. 2024, 21:35:04
    Author     : franc
*/
.navbar-custom {
    background-color: rgba(0, 93, 164, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar-nav .nav-link {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white !important; /* Color del texto en blanco */
}
.dropdown-menu {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: rgba(0, 93, 164, 0.8); /* Mismo color de fondo para el dropdown */
    color: white; /* Color del texto en blanco */
}

.dropdown-item {
    color: white; /* Color del texto en blanco para los elementos del dropdown */
}

.dropdown-item:hover {
    background-color: rgba(0, 93, 164, 0.6); /* Color de fondo ligeramente más claro al hacer hover */
}
.section-title {
    margin-bottom: 40px;
    font-size: 32px;
    color: #333;
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.card-header {
    background-color: #00c0f3;
    border: none;
}
.card-header .btn-link {
    color: #ffffff !important;
}


.card-body {
    font-size: 16px;
    line-height: 1.6;
}

.footer {
    background-color: rgba(0, 93, 164, 0.8);
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.footer p {
    margin: 0;
    color: white;
}body{
  font-family: Arial, sans-serif;
    font-size: 15px;  
}


